/* Hex Colors 
    Purple: #59194F
    Orange: #F2913D
    White: #F2F2F2
    Green: #9EA68D
    Gray: #D9D9D9
*/

/* Styling for Header Component*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #59194F;
    font-size: 20px;
}

header a {
    color: #F2F2F2;
    text-decoration: none;
}

header a:hover {
    color: #F2913D;
    transform: scale(1.2)
}

.llamaLogo {
    width: 50px;
}

/* Styling for Footer Component */
.Footer {
    background-color: #59194F;
    color: #F2F2F2;
    text-align: center;
    padding: 10px;
}

/* Styling for Body */
.Body {
    background-color: #9EA68D;
    height:100%;
    width: 100%;
}

/* Styling for home */
.Home {
    height:90vh;
    background: url(https://i.imgur.com/CbtNqxn.png) no-repeat center center/cover;
}

/* Styling for Not Found Page */
.NotFound {
    height: 90vh;
    background: url(https://i.imgur.com/mXKqMpg.png) no-repeat center center/ cover;
}

/* Styling for About Us Page */
.AboutUs {
    background-color: #9EA68D;
    text-align: center;
    
}

/* Sign Up Page */

.signup{
    display: grid;
    text-align: center;
}

.signupRow {
    display:flex;
    justify-content: center;
}

/* Styling for Recipe Index Page */
.recipeIndex{
    height: 100vh;
}

#recipeIndexH1 h1{
    text-align: center;
    font-size: 70px;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);  
}

.addNewRecipeBtn {
    text-align: center;
    /* padding-bottom: 30px; */
}

.recipeCard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    height: 200px;
    width: 95%;
}

.card{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.9);
}

.recipeIndexImage{
    height: 230px;
    width: 280px;
    text-align: center;
}

/* Styling for Recipe Show Page */

.card-title {
    text-align: center;
} 

.show-card {
    margin: auto;
}

/* Recipe New */

.recipeNew {
    display: grid;
    text-align: center;
    justify-content: center;
}

.newRecipeRow {
    display:flex;
    justify-content: center;
    width: 400px;
}

/* PigLatin Page */
.pigLatinImage {
    height: 547px;
    display: block;
    margin: auto;
}

.pig-latin-container {
    text-align: center;
}

.user-input{
   text-align: center;
}

.text-box{
    align-items: right;
}

/* Jokes Page */

.jokes {
    display: grid;
    justify-content: center;
}

.jokeCard{
    display: flex;
    align-items: center;
    color: #D9D9D9;
}

/* All Buttons */
button, .sbtn {
    background-color: #F2913D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.9);
    width: 200px;
}

button:hover{
    transform: scale(1.2) 
}